spring.application.name: abypproperties
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/mydb
    username: myuser
    password: mypass
    driver-class-name: org.postgresql.Driver
  security:
    user:
      name: admin
      password: admin123
      roles: ADMIN

  jpa:
    hibernate:
      ddl-auto: update   # or create-drop for development
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  thymeleaf:
    cache: false

server:
  port: 8443
  ssl:
    key-store: classpath:keystore.p12
    key-store-password: E@imz.uqg.35
    key-store-type: PKCS12
    key-alias: myapp
